
@using SportSY.Core.Models
<textarea id="selectedTeamMatches"></textarea>

<div id="createMatchesMainContainer">
    <div id="createTeamsFieldsContainer">


        <div class="form-group">
            <label > Date of match</label>
            <input class="input-group date" data-provide="datepicker" id="matchDatePicker">

        </div>

        <div class="form-group">
            <div class="dropdown" id="matchActivityDropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="matchPlaceDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Activity
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="matchActivitDropdownMenu">
                    @{
                        List<Activity> activities = ViewBag.Activities;
                        foreach (Activity activity in activities)
                        {
                            <a class="dropdown-item" value="@activity.ID"> @activity.ArabicName </a>

                        }
                    }
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="matchPlaceDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Place
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="placeMatchDropdownMenu">
                    @{
                        List<Place> places = ViewBag.Places;
                        foreach (Place place in places)
                        {
                            <a class="dropdown-item" value ="@place.ID"> @place.EnglishName </a>

                        }
                    }
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Notes" id="matchNoteTextbox">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-dark" id="mathcRequestButton" >Request</button>
        </div>
    </div>

    <ul id="match-teams-list">
        @{
            <p>Teams list</p>
            var teams = ViewBag.Teams;
            foreach (Team team in teams)
            {
                <li data-team-id="@team.ID">
                    <div class="row bg-white align-items-center ml-0 mr-0 py-3 match-entry team-match-list-item">
                        <div class="col-sm-2">
                            <div class="text-center text-lg-left">
                                <div class="d-inline d-lg-inline-flex align-items-center">
                                    <div class="image img-circle text-center mb-3">
                                        <img src="~/images/teamwork.png" alt="Image" class="img-fluid">
                                    </div>
                                    <div class="text">
                                        <label class="form-check-label">@team.EnglishName</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            }
        }
    </ul>
</div>

